body{
	font-family: roboto;
}

/*header*/
nav{
	background-color: #FFFFFF;
}

.nav_logo{
	height:32px;
	width:39.05px;
	margin-left:13px;
	margin-top: -6px;
}

.name{
	margin-left: 60px;
	margin-top: -25px;
	font-size: 16px;
	color: #034078;

}

#heading1{
	font-size:13px;
	text-decoration: none;
	color: #034078;
	margin-left: 27px;
}
#heading2{
	font-size:13px;
	text-decoration: none;
	color:  #9FACBD;
	margin-left: 27px;
}

.size{
	margin-left: 27px;
	margin-right: 27px; 
	border-radius: 15px;
	border-style: solid;
	border-color: #9FACBD;
	width: 160px;
}

.inner-addon {
  position: relative;
}


.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #9FACBD;
}


.right-addon .glyphicon{
	 right: 40px;
}

.right-addon input{
	 padding-right: 30px; 
}

.glyphicon-bell{
	margin-right: 27px;
}
.dropdown{
	text-decoration: none;
	color: #9FACBD;
}
.dropdown:hover{
	text-decoration: none;
	color: #034078;
}
.icon-bar {
     background-color:#034078 !important;
}


#SIGN-IN{
	margin-right: 30px;
	border-color:  #034078;	
	font-size: 13px;
	color: #034078;	
}

#notifications{
	color: #034078;	
}


/*-------------------*/


/* carousel 1 */

#myCarousel1{
	margin-top: -15px;
}

#carousel1-images{
	width: 100%;
	height: 655px;
}

#carousel-arrow{
	margin-top: 350px;
	font-size: 32px;
	color: #F3F3F3;
}

#carousel-circles{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

/*-------------------------*/



/*NAVBAR 2*/

.gap{
	background-color: #FFC642;
	height: 150px;
	
}
.nav2-text{
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 60px
}

/*---------------*/





/* POPULAR COURSES */


.new-section{
	border-top: 2px solid #FFC642;;
	width:100px;
	margin-top: 70px;
}

.popular_courses_heading{
	text-align: center;
	font-size: 36px;
	color: #000000;
	margin-bottom: 40px;
}

.Box{
	width: 352px;
	height: 400px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.161);
	margin: auto;
}

#course{
	text-decoration: none;
	color: black;
}
.Course-details{
	text-align: center;
	margin-top: 30px;
	margin-bottom:80px;
}

.Course-details > p{
	text-align: center;
	margin-top: 30px;
	margin-bottom:80px;
	color: #9FACBD;
}


.background1{
	background-color: rgba(159, 172, 189, 0.05);
	opacity: 10%;
}

.explore_button{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#explore_button{
	text-align: center;
	border-color: #034078;
	color: #034078;
	width: 276px;
	height: 52px;
	font-size: 19px;
}


/*--------------------------*/

/* 3D Carousel */


[type=radio] {
  display: none;
}

#slider {
  height: 50vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background-image:url('middle.png');}
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 }



/*----------*/



/* What our Students Say  CAROUSEL 2*/
#myCarousel2{
margin-top: 130px;
}

#carousel2-image{
	width: 100%;
	height:770px;
}


/* newsletter section*/

.background3{
	background-color: rgba(159, 172, 189, 0.20);
}

#newsletter{
	width: 400px;
	height: 45px;
	color: #9FACBD;
}

#section-3{
	margin-left: 450px;
	margin-right: 100px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.161);
	margin-bottom: 30px;
}

#subscribe{
	height: 45px;
	margin-left: -5px;
	width: 175px;
	font-size: 15px;
	background-color: #034078;
	color: #FFFFFF;
}

/*-------------*/


/* Contact-us */

.image1{
	margin-top: 60px;
	margin-left: 30px;
}
.contact{
	height: auto;
	padding-bottom: 64px;
}
.contact h1{
	font-size: 20px;
	margin-top: 64px;
}
.app, .play{
	height: 48px;
	width:168px;
	background-color: #034078;
	border-radius: 4px;
	margin-top: 32px;
	margin-left: 15px;
	box-shadow:2px 10px 10px rgba(0,0,0,0.16);
}
.app img, .play img{
	height: 32px;
	width: 32px;
	margin: 8px;
}
.contact h3{
	font-size: 12px;
	margin-top: -38px;
	margin-left: 50px;
	color:white;
}
.contact h2{
	font-size: 16px;
	margin-top: -10px;
	margin-left: 50px;
	color:white;
}
ul{
	list-style: none;
}
.detail img{
	height:28px;
	width:28px;
	margin-left: -40px;
	/*box-shadow: 2px 5px 10px rgba(0,0,0,0.16);*/
}
.detail li{
	padding-top:32px;
	margin-bottom: -10px;
}
.detail h4{
	margin-top: -25px;
	font-size: 16px;
	margin-left: 12px;
	color:#9facbd;
}
.fa-arrow-up{
	float: right;
	margin-top: -85px;

}


/*footer*/

.side{
	text-align: right;
}

#social{
	border-radius: 50%;
	background-color: #034078;
	color: #FFFFFF;
	margin-left: 7px;
	margin-right: 13px;
}
#statement{
	color:#9FACBD;
	font-size: 16px;
	margin-bottom: 15px;
}

#part{
	border-top:1px solid #034078;
	padding-top: 5px;
}



a{
	text-decoration: none;
}